@use './reset.scss';
@use './colors.scss' as color;
@use './typo.scss';
@use './misc.scss';
@use './index__phone.scss';

body {
    // height: 100vh;
    width: 100vw;

    main {
        height: 100%;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        overflow-y: scroll;
        
        > * {
            background-color: color.$white;
        }
        
        div#mainBox {
            $hamburgerDimensions : 30px;
            $menuTransition : .3s;

            display: flex;
            justify-content: center;
            grid-area: 1 / 1 / 10 / 19;

            position: relative;

            overflow-y: hidden;
            
            header {
                width: 85%;

                position: absolute;
                top: 15%;

                display: flex;
                justify-content: left;
                align-items: center;
                gap: 7%;

                z-index: 15;
                
                nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 2.5vw;

                    position: relative;

                    // * {
                    //     height: min-content;
                    // }
                    
                    h1.logo {
                        margin: 0;
                        margin-right: 1vw;

                        padding: 0;
    
                        font-family: typo.$font;
                        font-weight: typo.$logo_weight;
                        font-size: typo.$logo_size;
    
                        color: color.$white;

                        transform: translateY(-11px);

                        transition: opacity $menuTransition ease-out;

                        &.logo__invisible {
                            opacity: 0;
                        }
                    }

                    div.hamburgerIcon {
                        width: $hamburgerDimensions;
                        height: $hamburgerDimensions;

                        position: absolute;
                        top: 0;
                        left: 0;

                        background-image: url("../images/icon-hamburger.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: auto 90%;

                        cursor: pointer;
                        
                        z-index: 17;

                        &.hamburger__close {
                            background-image: url("../images/icon-close.svg") !important;

                            animation: flick $menuTransition;
                            @keyframes flick {
                                from {
                                    opacity: 1;
                                }
                                50% {
                                    opacity: 0;
                                }
                                to {
                                    opacity: 1;
                                } 
                            }
                        }
                    }

                }
            }
            

            
            img.mainbox_img.articleImg {
                width: 100%;
                height: fit-content;

                position: absolute;
                top: 0px;

                &.activeSlide {
                    z-index: 10;
                }

                &.newSlide {
                    z-index: 9;
                }
            }



            a.navLinks {
                position: relative;

                display: flex;
                justify-content: center;
                
                font-family: typo.$font;
                font-weight: typo.$link_weight;
                font-size: typo.$link_size;

                color: color.$white;
                text-decoration: none;
                text-transform: lowercase;

                &::after {
                    content: "";

                    position: absolute;
                    bottom: -10px;

                    width: 50%;
                    height: 2px;

                    background-color: color.$white;

                    // Before hover
                    transform: translateY(-10px) scaleX(0);
                    opacity: 0;
                    
                    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
                }

                &:hover::after, &:focus::after {
                    transform: translateY(0px) scaleX(1);
                    opacity: 1;
                }
            }

            div.menu {
                width: 100%;
                height: calc(30% + $hamburgerDimensions);

                padding-left: 20%;

                position: absolute;
                top: 0;
                left: 0;

                display: flex;
                justify-content: space-around;
                align-items: center;

                background-color: color.$white;

                transform: translateY(-100%);

                transition: transform $menuTransition ease-in-out, opacity $menuTransition ease-out;
                opacity: 0;
                
                z-index: 12;

                a.navLinks {
                    font-size: typo.$link_size + 6px;
                    
                    color: color.$black;

                    &::after {
                        background-color: color.$black;
                    }
                }

                &.menu__opened {
                    transform: translateY(0);
                    opacity: 1;
                }

                // &::after {
                //     content: "";
                //     width: 100%;
                //     height: 90vh;
                    
                //     position: fixed;
                //     bottom: -90vh;
                //     left: 0;

                //     background-color: rgb(220, 42, 42);

                //     z-index: 30;
                // }
            }
        }



        div.sideTextContainer {
            $padding: 6vw;
            padding: 4vw 6vw;
            padding-top: $padding + .1vw;

            position: relative;

            grid-area: 1 / 19 / 10 / 31;

            overflow-x: hidden;
            
            h2 {
                margin-bottom: calc(53.95px / 2);

                font-family: typo.$font;
                font-size: typo.$title_size;
                font-weight: typo.$title_weight;

                color: color.$black;
            }

            > p {
                margin-top: 0;

                font-family: typo.$font;
                font-size: typo.$text_size;
                font-weight: typo.$text_weight;

                line-height: 30px;

                color: color.$dark_gray;
            }

            
            .actionLink {
                width: 60%;

                margin-bottom: 9vh;

                display: flex;
                justify-content: space-between;
                align-items: center;
                
                text-decoration: none;

                $transitionTime: 0.3s;

                p.shopNowText {
                    font-family: typo.$font;
                    font-size: typo.$shopNow_size;
                    font-weight: typo.$shopNow_weight;

                    color: color.$black;
                    text-transform: uppercase;

                    letter-spacing: 15px;

                    transition: color ($transitionTime - 0.1s) ease-out;
                }

                div.arrow {
                    width: 60px;
                    $arrowHeight: 2px;
                    height: $arrowHeight;

                    position: relative;

                    background-color: color.$black;

                    $arrowTransition: background-color ($transitionTime - 0.1s) .1s ease-out;
                    transition: $arrowTransition;

                    &::after, &::before {
                        content: "";

                        width: 10px;
                        height: $arrowHeight;

                        position: absolute;
                        right: 0;

                        background-color: color.$black;
                        transition: background-color ($transitionTime - 0.1s) .2s ease-out;
                    }

                    $rotate: 45deg;
                    &::after {
                        transform: rotate(-$rotate);
                        transform-origin: right top;
                    }
                    &::before {
                        transform: rotate($rotate);
                        transform-origin: right bottom;
                    }
                }

                &:hover, &:focus {
                    p.shopNowText {
                        color: color.$dark_gray;
                    }

                    div.arrow {
                        background-color: color.$dark_gray;

                        &::after, &::before {
                            background-color: color.$dark_gray;
                        }
                    }
                }
            }

            
            div.carousselArrows {
                $buttonSize: 100px;
                width: $buttonSize * 2;
                height: $buttonSize;

                display: flex;
                justify-content: center;
                align-items: center;
                
                position: absolute;
                bottom: 0;
                left: 0;

                background-color: color.$black;

                z-index: 10;
                
                button.carousselArrow {
                    width: $buttonSize;
                    height: $buttonSize;

                    background-color: color.$black;       
                    border: none;             

                    cursor: pointer;

                    transition: background-color 0.1s ease-out;

                    img {
                        height: 30%;
                    }

                    &:hover, &:focus-visible {
                        background-color: color.$very_dark_gray;
                    }
                    &:active {
                        background-color: color.$dark_gray;
                    }
                }
            }

            &::after {
                content: "";

                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                right: 0;

                background-color: color.$white;

                transform: translateX(100%);

                z-index: 9;

                @keyframes slide {
                    from {
                        transform: translateX(100%);
                    }
                    to {
                        transform: translateX(-100%);
                    }
                }
            }

            &.play::after {
                animation: slide 0.6s ease-in-out;
            }
        }



        div.infoContainer {
            padding: 3vw;
            padding-top: 3vw + 1vw;
            
            grid-area: 10 / 10 / 15 / 22;

            h3 {
                font-family: typo.$font;
                font-size: typo.$smallTitle_size;
                font-weight: typo.$smallTitle_weight;

                text-transform: typo.$smallTitle_transform;
                
                letter-spacing: typo.$smallTitle_spacing;
            }

            p {
                font-family: typo.$font;
                font-size: typo.$text_size;
                font-weight: typo.$text_weight;

                line-height: 30px;

                color: color.$dark_gray;
            }
        }



        div.smallArticleImgContainer {
            background-repeat: no-repeat;
            background-size: cover;

            &.smallArticleImgContainer__left {
                grid-area: 10 / 1 / 15 / 10;

                background-image: url("../images/image-about-dark.jpg");
                background-position: 10% 50%;
            }
            &.smallArticleImgContainer__right {
                grid-area: 10 / 22 / 15 / 31;

                background-image: url("../images/image-about-light.jpg");
                background-position: 50% 50%;
            } 
        }
    }

    div#cover {
        content: "";
        width: 100%;
        // height: calc(100vh - (13.5vh + 30px));
        height: 100vh;
        
        position: fixed;
        bottom: 0;
        left: 0;

        z-index: 11;

        opacity: 0;

        user-select: none;
        pointer-events: none;

        transition: opacity 0.2s ease-in-out;

        &.active {
            pointer-events: all;
            opacity: 1;
            background-color: color.$very_dark_gray__transparent;
        }
    }
}