@use './reset.scss';
@use './colors.scss' as color;
@use './typo.scss';
@use './misc.scss';

body {
    // height: 100vh;
    width: 100vw;

    main {
        height: 100%;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        > * {
            background-color: color.$white;
        }
            
        div#mainBox {
            display: flex;
            justify-content: center;
            grid-area: 1 / 1 / 10 / 19;

            position: relative;

            overflow-y: hidden;

            header {
                width: 85%;

                position: absolute;
                top: 12%;

                display: flex;
                justify-content: left;
                align-items: center;
                gap: 7%;

                z-index: 15;
                
                nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 2.5vw;

                    // * {
                    //     height: min-content;
                    // }
                    
                    h1.logo {
                        margin: 0;
                        margin-right: 1vw;

                        padding: 0;
    
                        font-family: typo.$font;
                        font-weight: typo.$logo_weight;
                        font-size: typo.$logo_size;
    
                        color: color.$white;

                        transform: translateY(-11px);
                    }

                    a.navLinks {
                        position: relative;

                        display: flex;
                        justify-content: center;
                        
                        font-family: typo.$font;
                        font-weight: typo.$link_weight;
                        font-size: typo.$link_size;

                        color: color.$white;
                        text-decoration: none;
                        text-transform: lowercase;

                        &::after {
                            content: "";

                            position: absolute;
                            bottom: -10px;

                            width: 50%;
                            height: 2px;

                            background-color: color.$white;

                            // Before hover
                            transform: translateY(-10px) scaleX(0);
                            opacity: 0;
                            
                            transition: transform 0.3s ease-out, opacity 0.2s ease-out;
                        }

                        &:hover::after, &:focus::after {
                            transform: translateY(0px) scaleX(1);
                            opacity: 1;
                        }
                    }
                }
            }

            img.mainbox_img {
                width: 100%;
                height: fit-content;

                position: absolute;
                top: 0px;

                z-index: 10;
            }
        }



        div.sideTextContainer {
            $padding: 6vw;
            padding: 4vw 6vw;
            padding-top: $padding + .1vw;

            position: relative;

            grid-area: 1 / 19 / 10 / 31;

            h2 {
                margin-bottom: (53.95px / 2);

                font-family: typo.$font;
                font-size: typo.$title_size;
                font-weight: typo.$title_weight;

                color: color.$black;
            }

            > p {
                margin-top: 0;

                font-family: typo.$font;
                font-size: typo.$text_size;
                font-weight: typo.$text_weight;

                line-height: 30px;

                color: color.$dark_gray;
            }

            
            .actionLink {
                width: 60%;

                margin-bottom: 9vh;

                display: flex;
                justify-content: space-between;
                align-items: center;
                
                text-decoration: none;

                $transitionTime: 0.3s;

                p.shopNowText {
                    font-family: typo.$font;
                    font-size: typo.$shopNow_size;
                    font-weight: typo.$shopNow_weight;

                    color: color.$black;
                    text-transform: uppercase;

                    letter-spacing: 15px;

                    transition: color ($transitionTime - 0.1s) ease-out;
                }

                div.arrow {
                    width: 60px;
                    $arrowHeight: 2px;
                    height: $arrowHeight;

                    position: relative;

                    background-color: color.$black;

                    $arrowTransition: background-color ($transitionTime - 0.1s) .1s ease-out;
                    transition: $arrowTransition;

                    &::after, &::before {
                        content: "";

                        width: 10px;
                        height: $arrowHeight;

                        position: absolute;
                        right: 0;

                        background-color: color.$black;
                        transition: background-color ($transitionTime - 0.1s) .2s ease-out;
                    }

                    $rotate: 45deg;
                    &::after {
                        transform: rotate(-$rotate);
                        transform-origin: right top;
                    }
                    &::before {
                        transform: rotate($rotate);
                        transform-origin: right bottom;
                    }
                }

                &:hover, &:focus {
                    p.shopNowText {
                        color: color.$dark_gray;
                    }

                    div.arrow {
                        background-color: color.$dark_gray;

                        &::after, &::before {
                            background-color: color.$dark_gray;
                        }
                    }
                }
            }

            
            div.carousselArrows {
                $buttonSize: 100px;
                width: $buttonSize * 2;
                height: $buttonSize;

                display: flex;
                justify-content: center;
                align-items: center;
                
                position: absolute;
                bottom: 0;
                left: 0;

                background-color: color.$black;
                
                button.carousselArrow {
                    width: $buttonSize;
                    height: $buttonSize;

                    background-color: color.$black;       
                    border: none;             

                    cursor: pointer;

                    transition: background-color 0.1s ease-out;

                    img {

                    }
                    &:hover {
                        background-color: color.$very_dark_gray;
                    }
                    &:active {
                        background-color: color.$dark_gray;
                    }
                    &:focus {

                    }
                }
            }
        }



        div.infoContainer {
            grid-area: 10 / 10 / 15 / 22;

            // background-color: rgba(80, 186, 37, 0.729);
        }



        div.smallArticleImgContainer {
            &.smallArticleImgContainer__left {
                grid-area: 10 / 1 / 15 / 10;
            }
            &.smallArticleImgContainer__right {
                grid-area: 10 / 22 / 15 / 31;
            } 
        }
    }
}