@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

$size: 12px;
$font: 'League Spartan', sans-serif;

// Logo
$logo_weight: 500;
$logo_size: 42px;

// Link
$link_weight: 500;
$link_size: 20px;

// H2
$title_weight: 500;
$title_size: 65px;

// Text
$text_weight: 500;
$text_size: 20px;


// OTHERS
// ShopNow text
$shopNow_weight: 500;
$shopNow_size: 20px;
